@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* nav bar starts */
/* .nav.activ {
  position: fixed;
  width: 100%;
  z-index: 100000;
}
.header span, ul li a{
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  text-decoration:  none;
}
.header{
  display: flex;
  flex: 1;
  margin-right: auto;
  font-size: 24px;
  line-height: 99.7%;
}
.jm{
  color: #8C2F39;
}
.aa{
  color: #8C2F3999;
}
.la{
  padding-left: 5px;
}
.hov:hover .aa{
  color: #8C2F39;
}
a{
  text-decoration: none;
}
.nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 24px;
  padding-bottom: 32px;
}

.nav-links{
  list-style: none;
}
.nav-links li{
  display: inline-block;
  padding: 0px 8px;
}
.nav-links li a{
  color: #8C2F39;
  font-size: 20px;
  line-height: 36px;
}
.nav-links li a:hover{
  color:white;
  transition: 0.3s ease-in-out;
  text-shadow: 1px 0 #8C2F39, -1px 0 #8C2F39, 0 1px #8C2F39, 0 -1px #8C2F39,
             1px 1px #8C2F39, -1px -1px #8C2F39, 1px -1px #8C2F39, -1px 1px #8C2F39;
}

.mobile-nav-icon{
  width: 2.5rem;
  height: 2.5rem;
}

.mobile-navbar-btn{
  display: none;
  background-color: transparent;
  cursor: pointer;
}
.mobile-nav-icon[name="close-outline"] {
  display: none;
}
@media(max-width:30em){
  .nav{
    position: relative;
    padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
}
.mobile-navbar-btn{
  display: block;
  z-index: 999;
  
}
.cross{
  color: #FFFFFF;
}
.teen{
  color: #B23A48;
}
nav{
  width: 100%;
  height: 100vh;
  background-color: #8C2F39;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  
  transform: translateX(100%);
  transition: all 0.3s linear;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.nav-links li a{
  color: #fff;
  font-size: 50px;
  line-height: 100px;
}
.exp{
  margin-left: 20px;
}
.nav-links{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.activ nav{
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

}
.activ .mobile-navbar-btn .mobile-nav-icon[name="close-outline"]{
  display: block;
}
.activ .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"]{
  display: none;
}
.activu .button {
  visibility: hidden;
  display: none;
}
.sTwoParent{
  display: block;
}
.st-mp{
  display: none;
}

}
@media (max-width:62em) and (min-width:31em){
  .nav{
      position: relative;
      padding-top: 24px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .mobile-navbar-btn{
      display: block;
      z-index: 999;
      
  }
  .cross{
      color: #FFFFFF;
  }
  .teen{
      color: #B23A48;
  }
  nav{
      width: 100%;
      height: 100vh;
      background-color: #8C2F39;
      position: absolute;
      top: 0;
      left: 0;

      display: flex;
      justify-content: center;
      align-items: center;
      
      transform: translateX(100%);
      transition: all 0.3s linear;

      opacity: 0;
      visibility: hidden;
      pointer-events: none;
  }
  .nav-links li a{
      color: #fff;
      font-size: 50px;
      line-height: 100px;
  }
  .exp{
      margin-left: 20px;
  }
  .nav-links{
      display: flex;
      flex-direction: column;
      align-items: center;

  }
  .activ nav{
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
      pointer-events: auto;

  }
  .activ .mobile-navbar-btn .mobile-nav-icon[name="close-outline"]{
      display: block;
  }
  .activ .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"]{
      display: none;
  }
  .activu .button {
      visibility: hidden;
      display: none;
  }
  .sTwoParent{
      display: block;
  }
  .st-mp{
      display: none;
  }

} */
.activ{
  height: 100vh;
}
.header span,
ul li a {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  text-decoration: none;
}
.header {
  display: flex;
  flex: 1;
  margin-right: auto;
  font-size: 24px;
  line-height: 99.7%;
}
.jm {
  color: #8c2f39;
}
.aa {
  color: #8c2f3999;
}
.la {
  padding-left: 5px;
}
.hov:hover .aa {
  color: #8c2f39;
}
a {
  text-decoration: none;
}
.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 24px;
  padding-bottom: 32px;
}

.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0px 8px;
}
.nav-links li a {
  color: #8c2f39;
  font-size: 20px;
  line-height: 36px;
}
.nav-links li a:hover {
  color: white;
  /* border: 1px solid #8C2F39; */
  /* -webkit-text-stroke: 5px solid #8C2F39; */
  transition: 0.3s ease-in-out;
  text-shadow: 1px 0 #8c2f39, -1px 0 #8c2f39, 0 1px #8c2f39, 0 -1px #8c2f39,
    1px 1px #8c2f39, -1px -1px #8c2f39, 1px -1px #8c2f39, -1px 1px #8c2f39;
}

.mobile-nav-icon {
  width: 2.5rem;
  height: 2.5rem;
}
.nav.activ {
  position: fixed;
  width: 100%;
  z-index: 100000;
}

.mobile-navbar-btn {
  display: none;
  background-color: transparent;
  cursor: pointer;
}
.mobile-nav-icon[name="close-outline"] {
  display: none;
}
@media (max-width: 62em) {
  .nav {
    position: relative;
  }
  .mobile-navbar-btn {
    display: block;
    z-index: 999;
  }
  .cross {
    color: #ffffff;
  }
  .teen {
    color: #b23a48;
  }
  nav {
    /* display: none; */
    width: 100%;
    height: 100vh;
    background-color: #8c2f39;
    position: absolute;
    top: 0;
    /* left: 0; */

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateX(100%);
    transition: all 0.3s linear;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .nav-links li a {
    color: #fff;
    font-size: 50px;
    line-height: 100px;
  }
  .exp {
    margin-left: 20px;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .activ nav {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .activ .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }
  .activ .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }
  .activu .button {
    visibility: hidden;
    display: none;
  }
  .sTwoParent {
    display: block;
  }
  .st-mp {
    display: none;
  }
  .nav {
    padding-top: 24px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .hov{
    font-size: 20px;
  }
}
/* /Navbar */

.contact-header{
    margin-left: 76px;
    width: fit-content;
    height: fit-content;
}
#ch-text{
  font-family: "Anton";
  font-size: 85px;
  font-weight: 400;
  line-height: 135px;
  letter-spacing: 0em;
  text-align: left;
}
.ch-white{
  color: #fff;
  -webkit-text-stroke:2px black;
}


/* footer */
.footer-first{
  display: flex;
  justify-content: space-around;
  padding: 6rem 0;
  align-items: center;
}
.fh{
font-family: "Oswald";
font-size: 4rem;
font-weight: 600;
color: white;
text-decoration: none;
line-height: 4.5rem;
}
.footer{
  background-color: #8C2F39;
  overflow-y: hidden;

}
.rem{
  color: white;
  opacity:60%;
  font-family: "Oswald";
font-size: 4rem;
font-weight: 600;
text-decoration: none;
}
.name:hover .rem{
  color: white;
  opacity:100%;
}
.lap{
  padding-left: 1.5rem;
}
.f-link{
  text-decoration: none;
  display: block;
  color: #fff;
  font-size: 2rem;
  line-height: 3rem;
  font-family: "Anton", sans-serif;
  font-weight: 400;
}
.f-links a:hover {
  color: #8c2f39;
  transition: 0.3s ease-in-out;
  text-shadow: .1rem 0 #fff, -.1rem 0 #fff, 0 .1rem #fff, 0 -.1rem #fff,
    .1rem .1rem #fff, -.1rem -.1rem #fff, .1rem -.1rem #fff, -.1rem .1rem #fff;
}
#nl-header{
  font-family: "Oswald";
font-size: 3.5rem;
font-weight: 600;
line-height: 4.7rem;
letter-spacing: 0rem;
color: white;
}
.news-letter{
  width: fit-content;
  text-align: right;
}
#nl-subtext{
  color: #C5C5C5;
  font-family: "Roboto";
font-size: 2.1rem;
line-height: 2.8rem;
letter-spacing: 0rem;
margin-bottom: 1rem;
}
input{
  width: 40rem;
    height: 4rem;
    border: 0;
    border-radius: .7rem;
  font-family: "Roboto";
font-size: 1.8rem;
font-weight: 300;
}
input::placeholder{
  padding-left: 1rem;
  font-family: "Roboto";
font-size: 1.8rem;
font-weight: 300;
line-height: 2.8rem;
letter-spacing: 0em;
text-align: left;

}
.btn{
  display: inline-block;
}
.data{
  align-items: center;
}

.button {
  display: inline-block;

  padding: .9rem 2.4rem;
  border: .1rem solid #ffffff;
  border-radius: 1.1rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 1.9rem;
  color: #ffffff;
  z-index: 1;
  background-color: #8C2F39;
 }
 
 .button:before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) scaleY(1) scaleX(1.25);
      -ms-transform: translateX(-50%) scaleY(1) scaleX(1.25);
          transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  -webkit-transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
 }
 
 .button:after {
  content: "";
  position: absolute;
  left: 55%;
  -webkit-transform: translateX(-50%) scaleY(1) scaleX(1.45);
      -ms-transform: translateX(-50%) scaleY(1) scaleX(1.45);
          transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #ffffff;
  border-radius: 50%;
  display: block;
  -webkit-transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
 }
 
 .button:hover {
  color:#8C2F39;
  ;
  border: .1rem solid #ffffff;
 }
 
 .button:hover:before {
  top: -35%;
  background-color: #ffffff;
  -webkit-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
      -ms-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
          transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
 }
 
 .button:hover:after {
  top: -45%;
  background-color: #ffffff;
  -webkit-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
      -ms-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
          transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
 }
.footer-second{
  display: flex;
  justify-content: space-evenly;
  padding: 2.6rem 0rem;
  align-items: center;
}
.socials a{
  text-decoration: none;
  font-family: "Roboto";
  font-size: 2.1rem;
  font-weight: 200;
  line-height: 2.8rem;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
.socials svg{
  margin-bottom: .4rem;
}



 .fh{
  font-family: "Anton";
  font-size: 40px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  line-height: 45px;
  }
  .rem{
    color: white;
    opacity:60%;
    font-family: "Anton";
  font-size: 40px;
  font-weight: 600;
  text-decoration: none;
  }
  
  .social-img {
    display: none;
  }

  /* For tablet */
  @media (min-width: 601px) and (max-width: 961px){
  .f-links {
      display: none;
  }
  .fh, .rem {
    font-size: 30px;
    font-family: "Oswald";
  }
  .news-letter {
    width: 330px;
    text-align: right;
  }
  #nl-header {
    font-family: "Oswald";
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: right;
  }
  #nl-subtext {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 1px;
    text-align: right;
    margin: 8px 0;
  }
  .data input {
    width: 194px;
  }
  .button {
    width: 100px;
    padding: 9px 15px;
    font-size: 16px;
  }
  }
  @media (max-width: 600px){
    .socials {
      display: none;
  }
  .data{
      display: flex;
  }
  input::placeholder {
    font-size: 23px;
}
  .button{
    width: 85px;
    height:35px;
    border-radius: 7px;
    font-size: 15px;
    padding: 0;
    margin-left: 5px;
  }
  .data input {
    width: 210px;
    height: 29.6px;
  }
  input{
    border: 0;
    border-radius: 7px;
    font-family: "Roboto";
    font-weight: 300;
    margin-left: 45px;
    font-size: 20px;
    text-align: center;
    padding-top: 6px;
  }

  .footer-first {
    display: block;
    padding-bottom: 4rem;
    padding-top: 2rem;
  }
  .name {
    overflow-y: hidden;
    margin-left: 40px;
    margin-bottom: 60px;
  }
  .fh {
    font-family: "Oswald";
    font-size: 24px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    line-height: 28px;
  }
  .lap{
    padding-left: 0.7rem;
  }
  .rem {
    color: white;
    opacity: 60%;
    font-family: "Oswald";
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
  }
  .f-links {
    display: none;
  }
  .news-letter {
    width: auto;
    text-align: center;
  }
  #nl-header {
    font-size: 24px;
    line-height: 28px;
    font-family: "Oswald";
    padding-left: 5px;
    padding-right: 0px;
  }
  #nl-subtext {
    font-size: 16px;
    /* margin-left: 20px; */
    padding-left: 45px;
      padding-right: 45px;
      line-height: 1rem;
      text-align: left;
      padding-top: 20px;
      margin-bottom: 20px;
  }
  .social-img {
    display: revert;
  }
  }

  /* For tablet */
 

/* /footer */
.awp-text{
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  width: 71%;

}
.about-work{
  margin-left: 76px;
  margin-top: 30px;
  width: fit-content;
  height: fit-content;
}
.bold{
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;

}
.aw-head{
  margin-top: 60px;
}
.aw-subtext{
  text-decoration: none;
  color: black;
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 550;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  display: block;
  margin-top: 5px;
  width: 65%;
}
.aw-sub{
  margin-top: 30px;
}
.pos{
 margin-right: 70px;
}
.head{
  display: flex;
  justify-content: space-between;
  align-items:baseline;
  padding-top: 25px;
}
.cont{
  display: flex;
  align-items: normal;
}
.img{
  margin-right: 40px;
  margin-left: 50px;
}
.img img{
    width: 796px;
    height: 594px;
}
.next a{
  text-decoration: none;
  color: black;
  font-family: "Anton";
  font-size: 80px;
  font-weight: 400;
  line-height: 135px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 120px;

}
.next{
  text-align: right;
  padding-top: 40px;
  padding-bottom: 110px;
}
.nextHover:hover{
    color: #ffffff;
    transition: 0.2s ease-in-out;
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
      2px 2px black, -2px -2px black, 2px -2px black, -2px 2px black;
}

.next p{
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 550;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: right;
  position: relative;
  padding-right: 210px;
  top: -22px;
}

.arrowSymbol{
    width: 69px;
    height: 68px;
}


/* responsive for tablet */
@media (min-width: 601px) and (max-width:961px){

    .head{
        padding-top: 75px;
    }
    .cont{
        flex-wrap: wrap;
        justify-content:left; 

    }
    .about-work{
        padding-right: 10px;
    }
    .awp-text{
        font-weight: 550;
        font-size: 23px;
        line-height: 30px;
        width:auto;
        padding-right: 10px;
    }
    .pos{
        margin-right: 40px;
        font-size: 20px;

    }
    .about-work{
        margin-left: 50px;
    }
    .bold{
        font-size: 26px;
    }
    .aw-subtext{
        width: auto;
        font-size: 23px;
        line-height: 30px;
        padding-right: 10px;
        padding-bottom: 10px;
    }
    .img{
        margin-top: 20px;
    }

    .img img{
        width: 653px;
        height: 575px;
    }
    .next a{
        margin-right: 50px;
        font-size: 64px;
    }
    .next p{
        padding-bottom: 0px;
        font-size: 24px;
        padding-right: 118px;
    }
    .next{
        padding-bottom: 50px;
    }
    .contact-header{
      margin-left: 50px;
    }
    .img{
      display: flex;
      justify-content: center;
      align-items: center;
    
    }
    .cont{
      display: block;
    }
    .contact-header{
      margin-left: 50px;
    }
    .arrowSymbol{
      width: 50px;
    }
    .nextHover:hover, .nextHover:active{
      color: #ffffff;
      transition: 0.2s ease-in-out;
      text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
        2px 2px black, -2px -2px black, 2px -2px black, -2px 2px black;
  }
}

/* responsive for phone */
@media (max-width: 600px){

  #ch-text{
    font-family: "Anton";
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 0em;
    text-align: left;
} 

.head{
  display: flex;
  justify-content: space-between;
  align-items:baseline;
  padding-top: 0px;
}
.contact-header{
  margin-left: 20px;
}
.ch-white{
  -webkit-text-stroke:1.3px black;
}
.pos{
  margin-right: 15px;
  font-size: 12px;
  white-space: nowrap;
}
.about-work{
  margin-left: 20px;
  margin-top: 0;
}
.img img{
    width: 283px;
    height: 211px;
}
.cont{
  flex-wrap: wrap;
  justify-content:left;  
}
.aw-subtext{
  width: auto;
  font-size: 17px;
  line-height: 20px;
  padding-right: 10px;
  font-weight: 590;
  padding-bottom: 10px;
}
.awp-text{
  font-weight: 590;
  font-size: 17px;
  line-height: 20px;
  width:auto;
  padding-right: 10px;
}
.aw-sub{
  margin-top: 20px;
}
.aw-head{
  margin-top: 40px;
}

.next p{
  padding-bottom: 0px;
  font-size: 14px;
  padding-right: 48px;
  top: -60px;
}
.next a{
  margin-right: 20px;
  font-size: 27px;
  top: -40px;
}
.nextHover{
  top: -40px;
}
.next{
  height: 150px;
  padding-top: 0;
  padding-bottom: 0;
}
.arrowSymbol{
  width: 28px;
  height: 28px;

}
.img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.cont{
  display: block;
}
.nextHover:hover, .nextHover:active{
  color: #ffffff;
  transition: 0.2s ease-in-out;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    2px 2px black, -2px -2px black, 2px -2px black, -2px 2px black;
}
}

